@import '../../common/styles/variables.scss';

.back-my-project-button {
  border: 1px solid $blue-1;
  background: $blue-1;
  border-radius: 6px;
  padding: 8px;
  display: inline-flex;
  color: $white;
  transition: 0.3s all ease;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  align-items: center;

  img {
    margin-right: 8px;
  }
}
