@import '../../common/styles/variables.scss';

.body {
  margin-top: 48px;
  display: flex;
  max-width: 100%;
  flex-direction: column;

  .box{
    margin-bottom: 32px;
  }

  &__left {
    flex: 1 0 100%;
  }

  &__right {
    flex: 1 0 100%;
  }

  @media screen and (min-width: $medium) {
    flex-direction: row;

    &__left {
      flex: 1 1 70%;
      margin-right: 16px;
    }

    &__right {
      flex: 1 1 30%;
      margin-left: 16px;
    }
  }
}
