@import '../../common/styles/variables.scss';

.contact-info {
  &__detail {
    margin-bottom: 16px;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;

    &:last-child {
      margin-bottom: 0px;
    }

    img {
      margin-right: 16px;
    }
  }

  a {
    color: $green-4;
    font-size: inherit;
  }
}
