@import './common/styles/variables.scss';

html,
body {
  padding: 0px;
  margin: 0px;
}

body {
  background: $grey-2;
  font-family: $font-1;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.font-common {
  font-family: $font-2;
}

.font-special {
  font-family: $font-1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
